{% extends "fui_base.html" %}

{%- block page -%}

{% block skip %}
    <div class="sr-only focus:not-sr-only"><a href="#content">{{ _('Skip to main content') }}</a></div>
  {% endblock %}

  {%- block header %}
    {% include "header.html" %}
  {% endblock -%}

  {# The content block allows you to replace the content of the page if needed #}
  {%- block content %}
    <div id="page-content" class="container mx-auto px-4">
        {% block main_content %}
          {% block flash %}
            <div class="flash-messages">
              {% block flash_inner %}
                {% for category, message in h.get_flashed_messages(with_categories=true) %}
                  <div class="alert alert-dismissible fade show {{ category }}">
                    {{ h.literal(message) }}
                  </div>
                {% endfor %}
              {% endblock %}
            </div>
          {% endblock %}

          {% block toolbar %}
            <div class="toolbar" role="navigation" aria-label="{{ _('Breadcrumb') }}">
              {% block breadcrumb %}
                {% if self.breadcrumb_content() | trim %}
                  <ol class="breadcrumb">
                    {% snippet 'snippets/home_breadcrumb_item.html' %}
                    {% block breadcrumb_content %}{% endblock %}
                  </ol>
                {% endif %}
              {% endblock %}
            </div>
          {% endblock %}

          <div class="flex">
            {% block pre_primary %}
            {% endblock %}

            {% block secondary %}
              <aside class="w-3/12 p-4">
                {% block secondary_content %}{% endblock %}
              </aside>
            {% endblock %}

            {% block primary %}
              <main class="w-9/12 p-4">
                {% block primary_content %}
                  <article class="module">
                    {% block page_header %}
                      <header class="module-content page-header">
                        {% if self.content_action() | trim %}
                          <div class="content_action">
                            {% block content_action %}{% endblock %}
                          </div>
                        {% endif %}
                        <ul class="nav nav-tabs">
                          {% block content_primary_nav %}{% endblock %}
                        </ul>
                      </header>
                    {% endblock %}
                    <div class="module-content">
                      {% if self.page_primary_action() | trim %}
                        <div class="page_primary_action">
                          {% block page_primary_action %}{% endblock %}
                        </div>
                      {% endif %}
                      {% block primary_content_inner %}
                      {% endblock %}
                    </div>
                  </article>
                {% endblock %}
              </main>
            {% endblock %}
          </div>
        {% endblock %}
      </div>
  {% endblock -%}

  {%- block footer %}
    {% include "footer.html" %}
  {% endblock -%}
{%- endblock -%}

{%- block scripts %}
  {% asset 'base/main' %}
  {% asset 'base/ckan' %}
  {% asset "feather_ui/feather_ui-js" %}

  {{ super() }}
{% endblock -%}

{% block styles %}
    {% asset "feather_ui/feather_ui-css" %}

    {{ super() }}
{% endblock styles %}
